@import 'variables.scss';

.users-list-empty-state {
  margin-top: 100px;
  letter-spacing: 1px;
}


.users-list {
  tbody {
    tr.user-list-row {
      &:hover {
        background-color: $row-selected-color;
        cursor: pointer;
      }

      &.is-selected {
        background-color: $row-selected-color;
      }
    }
  }
}
