#revisited-view {
  margin-top: 30px;
  animation: slideUp .5s;

  .users-list-wrapper {
    margin-top: -90px;
    margin-left: 80px;
    min-height: 70vh;
    max-height: 70vh;
    overflow: auto;
  }

  .loading-wrapper {
    > * {
      margin-top: 100px;
    }
  }
}