#users-view {
  margin-top: 30px;
  animation: slideUp .5s;

  .users-list-wrapper {
    margin-top: -90px;
    margin-left: 80px;
    min-height: 70vh;
    max-height: 70vh;
    overflow: auto;
  }

  .new-user-form-wrapper {
    margin: 30px;
  }

  .alert-card {
    margin: 0 30px;
  }

  .empty-state-style {
    h1, h3 {
      font-weight: 300;
      margin: 0;
    }
  }
}