.app-header {
  height: 20vh;
  color: white;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    h1, h3 {
      font-weight: 300;
      margin: 0;
      opacity: 0.9;
      letter-spacing: 1px;
    }

    h3 {
      font-size: 15px;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    .flex {
      flex-grow: 1;
    }
  }

  .lang-selector {
    align-self: flex-start;
    margin-top: 20px;

    button {
      color: white;
      opacity: 0.9;

      &.active {
        background-color: rgba(white, 0.3);
        color: white;
      }
    }
  }
}