@import '../node_modules/muicss/lib/sass/mui-colors';
@import 'variables.scss'; // Our custom variables

// customize MUI variables
$mui-primary-color: mui-color('indigo', '500');

$mui-accent-color: mui-color('pink', '400');

// import MUI SASS
@import '../node_modules/muicss/lib/sass/mui';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@keyframes createBox {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    transform: translateX(0px) translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $backgroundColor;
  font-family: 'Lato', sans-serif;
}